		.ui.basic.button.category-input-button(value=1) 
			i.fas.fa-star
		.ui.basic.button.category-input-button(value=1) 
			i.fas.fa-sticky-note
		.ui.basic.button.category-input-button(value=1)
			i.fas.fa-exclamation