#itemfeed.ui.items
	.ui.left.aligned.grid.feed-item-grid
		if user
			include feedmenu
	if feed
		each day in feed
			.ui.left.aligned.grid.feed-item-grid
				.column.post-column
					.ui.basic.segment.post-header-segment(onclick="showSiblings(this)" value="shown")
						include feeddate
					each post in day.posts
						if post.pinned
							if user
								include feeditemfunc
							include pinnedfeeditem
					each post in day.posts
						if !post.pinned
							if user
								include feeditemfunc
							include feeditem
		.ui.left.aligned.grid.feed-item-grid
			.column.post-column
				.ui.basic.segment.feedend-segment
					p End of feed
	else
		.ui.negative.message There are no posts for this board.