if user
	#feedtools
		.tools
			a(href="./new_post") New post
			|&nbsp|&nbsp
			a.feed-tool-edit-link Select
		.edit-tools
			#editableboardlistdropdown.ui.dropdown 
				.text Save to
				#editableboardlist.menu
			|&nbsp|&nbsp
			a(onClick="deletePost()") Delete
			|&nbsp|&nbsp
			a.feed-tool-back-link <- Back
		.ui.huge.checkbox.post-select-all-checkbox
			input(type="checkbox")
