#itemfeed.ui.items
	.ui.left.aligned.grid.feed-item-grid
	if feed
		each row in feed
			include feedyearheader
			each month in row.month
				include feedmonthheader
				each day in row.day
					each post in row.posts
						if post.day === day & post.month === month
							include feeditemday
							include feeditem


		.ui.left.aligned.grid.feed-item-grid
			.column.post-column
				.ui.basic.segment.feedend-segment
					p End of feed
	else
		.ui.negative.message There are no posts for this board.