div.post-segment-container(onclick="updateContentViewer(" + post.id +")")

	.ui.header.feed-item-header
		= post.title
	.meta.feed-item-description
		if post.description
			span= post.description
	.extra.feed-item-author
		| Posted by: 
		a= post.author