#footer
	div
		| wot

script(src="/tinymce/tinymce.min.js")
script(src="/javascripts/jQuery-3.4.1.min.js")
script(src="/javascripts/semantic.js")
script(src="/javascripts/calendar.min.js")
script(src="/javascripts/index.js")
script(src="https://kit.fontawesome.com/94bad9d91e.js")