#headermenu.ui.secondary.menu
	.header.item
		.menu-logo
	if boardname
		a(href="/").item.menu-title-item
			|@
			=boardname
	else
		a(href="/").item.menu-title-item
			|@Home
	#boardlistdropdown.ui.dropdown.item
		.text Go to...
		#boardlist.menu
			include boardlist
	#rightmobilemenu.right.menu.item
		.ui.dropdown.item
			.text
				i.fas.fa-bars
			.menu
				if user
					a.item(href="/users/profile") Profile
					a.item(href="/users/logout") Logout
				else
					a.item(href="/users/login") Login
					a.item(href="/users/signup") Sign up
	#rightmenu.right.menu
		if user
			a.item(href="/users/profile")
				.text Profile
			a.item(href="/users/logout")
				.text Logout
		else
			a.item(href="/users/login")
				.text Login
			a.item(href="/users/signup")
				.text Sign up

