#headermenu.ui.menu
	.item.menu-title-item
		span#pretitleitem 
			a(href="/") EziBoard
	#boardlistdropdown.ui.dropdown.item
		.text
			if currentboard
				= currentboard.name
			else
				| Go to...
		#boardlistmenu.menu
			.item wot
			.item wot
			include boardlist
	.right.menu
		if user
			a.item(href="/users/profile")
				.text Profile
			a.item(href="/users/logout")
				.text Logout
		else
			a.item(href="/users/login")
				.text Login
			a.item(href="/users/register")
				.text Register

