#headermenu.ui.menu
	.item.menu-title-item
		span#pretitleitem 
			a(href="/") EziBoard
	if currentboard
		.ui.dropdown.item.board-name
			.text # 
			= currentboard.name
			.menu
					.item Ajax call to get other boards
					.item Ajax call to get other boards
	.ui.right.dropdown.item
		.text MENU
		.menu
			.item(data-value="1") Male
			.item(data-value="0") Female

