#mobilecontentsegment.ui.segment
	.post.content.buttons
		a#mobilepostcontenteditbutton.ui.tiny.yellow.button(href="") Edit
		form#mobilepostcontentdeleteform(action='' method='POST')
			button.ui.red.button(type='submit') Delete Post
	.ui.divider
	#mobilecontentviewerpostheader.ui.large.header
	#mobilecontentviewerpostdate
	.ui.divider
	#mobilecontentviewerpostdescription.ui.header
	#mobilecontentviewerpostcontent
