#mobilefiltercolumn.column
	form#searchform.ui.form
		.field
			input#searchinput(type="text" placeholder="Enter a search term...")
		#searchinputsubmit.ui.basic.button(onclick="searchformsubmit()")
			i.fas.fa-search
	.ui.basic.dropdown.button Categories
		.menu
			.item.category-check-item(name="ALL")
				| All
			.item.category-check-item(name="EVENT")
				| Events
			.item.category-check-item(name="ANNOUNCEMENT")
				| Announcements
			.item.category-check-item(name="REMINDER")
				| Reminders

	form#calendarform.ui.form
		#datesettingdropdown.ui.dropdown.basic.button
			span.text ALL 
			| &nbsp 
			i.fas.fa-calendar
			.menu.calendar-menu
				.item ALL 
				.item FROM 
				.item BEFORE 
				.item RANGE 
		#calendar.ui.calendar 
			input(type="text" placeholder="time")
		#rangestart.ui.calendar
			input(type='text' placeholder='Start')
		#rangeend.ui.calendar
			input(type='text' placeholder='End')
