include partials/header

#wrapper
	include partials/menugrid
	include partials/errorgrid
	include partials/filtergrid
	#maingrid.ui.stackable.grid
		.ui.two.wide.computer.only.column
		#mobilefeedcontentcolumn.ui.column

			.ui.top.attached.two.item.tabular.menu.tab-menu
				a.item.feed-item.active(data-tab="first") Feed
				a.item.content-item(data-tab="second") Content
			#mobilefeed.ui.bottom.attached.tab.segment.active(data-tab="first")
				include partials/feedtools
				#mobileitemfeed
					include partials/feed
			.ui.bottom.attached.tab.segment(data-tab="second")
				#mobilecontentcontainer
					include partials/content

		#feedcolumn.ui.five.wide.computer.eight.wide.tablet.column
				include partials/feedtools
				#itemfeed
					include partials/feed
		#contentcolumn.ui.seven.wide.computer.eight.wide.tablet.column.main-column
			.ui.sticky
				#contentcontainer
					include partials/content
		.ui.two.wide.computer.only.column

	include partials/footer