include header

#wrapper
	#menugrid.ui.grid
		.ui.two.wide.column.side-column
		.ui.twelve.wide.column
			include menu
		.ui.two.wide.column.side-column
	#filtergrid.ui.grid
		.ui.two.wide.column.side-column
		.ui.twelve.wide.column.main-filter-column
			include filters
		.ui.two.wide.column.side-column
	#maingrid.ui.stackable.grid
		.row.feed-row
			.ui.two.wide.column.side-column
			#feedcolumn.ui.five.wide.column.main-column
				include feed
			#contentcolumn.ui.seven.wide.column
				.ui.sticky
					#contentsegment.ui.segment
						#contentviewer
							#contentviewerpostheader.ui.large.header
							.ui.divider
							#contentviewerpostdescription.ui.header
							#contentviewerpostcontent
			.ui.two.wide.column.side-column

	include footer