.ui.dropdown.button
	span.text ALL 
	| &nbsp 
	i.fas.fa-clock
	.menu
		.item ALL 
		.item FROM 
		.item BEFORE 
		.item RANGE 
#example9.ui.calendar 
	input(type="text" placeholder="time")
#rangestart.ui.calendar
	input(type='text' placeholder='Start')
#rangeend.ui.calendar
	input(type='text' placeholder='End')