		button.ui.button.category-input-button(value=1) 
			i.fas.fa-star
		button.ui.button.category-input-button(value=1) 
			i.fas.fa-sticky-note
		button.ui.button.category-input-button(value=1)
			i.fas.fa-exclamation
