.ui.items
	for each in num
		.item
			.ui.middle.aligned.basic.segment.date-segment
					.ui.header.day-header
						| 15
					.ui.header.month-header
						| APR
			.content
				.header.item-category EVENT
				.ui.divider
				.description
					p Make sure to buy your dog some food
			.floating-type-icon
				i.fas.fa-star
		.item
			.ui.middle.aligned.basic.segment.date-segment
					.ui.header.day-header
						| 23
					.ui.header.month-header
						| APR
			.content
				.header.item-category REMINDER
				.ui.divider
				.description
					p Meeting at 12:15 with god about all the problems on earth
			.floating-type-icon
				.div
					i.fas.fa-exclamation
		.item
			.ui.middle.aligned.basic.segment.date-segment
					.ui.header.day-header
						| 15
					.ui.header.month-header
						| APR
			.content
				.header.item-category NOTE
				.ui.divider
				.description
					p Archibald can suck me off! Stop eating my chips in the staff room fridge u dog.
			.floating-type-icon
				i.fas.fa-sticky-note