#itemfeed.ui.items
	.ui.left.aligned.grid
		#newitemcolumn.sixteen.wide.column
			.ui.basic.segment
				a(href="./new_post")
					i.fas.fa-plus
					span &nbspAdd new post
	if feed
		each post in feed
			.ui.left.aligned.grid.feed-item-grid
				.two.wide.column.date-column
					.ui.segment.date-segment
						include feeddate
				.fourteen.wide.column.post-column
					.ui.segment.post-segment
						include feeditem

	else
		.ui.negative.message There are no posts for this board.