.ui.items
	each post in feed
		.item
			.ui.middle.aligned.basic.segment.date-segment
					.ui.header.day-header
						| 15
					.ui.header.month-header
						| APR
			.content
				.header.item-category= post.category
				.ui.divider
				.title
					p= post.title
				.description
					p= post.description
			.floating-type-icon
				i.fas.fa-star