#filterform.ui.form
	button.ui.yellow.button.category-input-button(onClick="toggleCategoryButton(this)") EVENTS
		input.category-input(value="true")
	button.ui.yellow.button.category-input-button(onClick="toggleCategoryButton(this)") REMINDER
		input.category-input(value="true")
	button.ui.yellow.button.category-input-button(onClick="toggleCategoryButton(this)") ANNOUCEMENT
		input.category-input(value="true")