#filterform.ui.form
	button.ui.button.category-input-button(onClick="toggleCategoryButton(this)") EVENTS
		input.category-input(value="true")
	button.ui.button.category-input-button(onClick="toggleCategoryButton(this)") EVENTS
		input.category-input(value="true")
	button.ui.button.category-input-button(onClick="toggleCategoryButton(this)") EVENTS
		input.category-input(value="true")