#filterform.ui.form
	button.ui.yellow.button.category-input-button(value=1) 
		i.fas.fa-star
	button.ui.yellow.button.category-input-button(value=1) 
		i.fas.fa-sticky-note
	button.ui.yellow.button.category-input-button(value=1)
		i.fas.fa-exclamation
	input#searchinput(type="text" placeholder="Enter a search term...")
	button#searchinputsubmit.ui.button
		i.fas.fa-search
	include calendar