#filtercolumn.column
	#filterform.ui.form


		form#searchform.ui.form
			.field
				input#searchinput(type="text" placeholder="Enter a search term...")
			#searchinputsubmit.ui.basic.button(onclick="searchformsubmit()")
				i.fas.fa-search
		.ui.dropdown.basic.button.filter-button FILTERS