doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="HandheldFriendly" content="true")
		meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no")
		link(rel="stylesheet", href='/stylesheets/semantic.css', type="text/css")
		link(rel="stylesheet", href='/stylesheets/style.css', type="text/css")
		link(rel="stylesheet", href='/stylesheets/fonts.css', type="text/css")
		link(rel="stylesheet", href='/stylesheets/calendar.min.css', type="text/css")

	body