include partials/header

#wrapper
	include partials/menugrid
	include partials/errorgrid
	#maingrid.ui.stackable.grid
		.ui.two.wide.column
		#boardcolumn.ui.four.wide.column
			if user
				.new-board-segment-container 
					a(href="/board/new")
						i.fas.fa-plus
						|&nbsp New board
				each board in boards
					.board-segment-container
						a.board-setting-icon.fas.fa-cog(href="/board/" + board.id + "/settings/")
						a.board-name(href="/board/" + board.id + "/" )
							= board.name
						p.board-stats
							span
								| 62 Posts
								| 7 Users

			else
				.ui.basic.segment
					.ui.center.aligned.header 
						a(href="/users/login") Login 
						| to create a board.
		#activitycolumn.ui.eight.wide.column
			.ui.large.grey.header Activity
			.ui.divider
		.ui.two.wide.column

include partials/footer