#headermenu.ui.menu
	.item.menu-title-item
		span#pretitleitem 
			a(href="/") EziBoard
	.ui.dropdown.item.board-name
		.text #Archeage Goons
		.menu
				.item Wot
				.item Wot
	.ui.right.dropdown.item
		.text MENU
		.menu
			.item(data-value="1") Male
			.item(data-value="0") Female

