@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('/fonts/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Italic';
    src: url('/fonts/Lato-Italic.ttf') format('truetype');
}