body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/* Sidebar styles */

.sidebar a.item i {
	font-size: 3rem;
	display: block;
}

.sidebar .item.filter-post-type-item {
	padding: 5px;
	padding-right: 20px;
}

.sidebar .item.filter-post-type-item span {
	text-align: center;
	width: 2rem;
	display: inline-block;
}

.sidebar .item.filter-post-type-item span i {
	font-size: 1.5rem;
}

.sidebar .item.filter-post-type-item p {
	display: inline-block;
	font-family: Lato-BoldItalic;
}

h3.sidebar-item-header {
	font-family: Lato-BoldItalic;
}

/* Menu styles */

.ui.menu .item.menu-title-item {
	margin: 0 auto;
}

.ui.menu .item.sidebar-toggle {
	font-size: 1.5rem;
}

.ui.menu a.item.filter-post-type-item {
	text-align: left;
}

/* Item feed styles */

.ui.segment.date-segment {
	min-height: 60px;
	min-width: 60px;
	max-height: 60px;
	max-width: 60px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	border-right: 3px solid #cdcdcd;
	border-bottom: 3px solid #cdcdcd;
}

.ui.header.day-header {
	font-size: 2.5rem;
	margin-bottom: 0px;
}

.ui.header.month-header {
	font-size: 1rem;
	margin-top: -0.5rem;
}

/*.ui.items .item {
	background: #ebebeb;
	padding: 10px;
	border-radius: 15px 0px 0px 0px;
	border-bottom: 5px solid #cdcdcd;
	margin-bottom: 16px;
}*/

.ui.items .item {
	background: #ebebeb;
    position: relative;
    padding: 10px;
    border-bottom: 5px solid #cdcdcd;
    margin-bottom: 16px;
    transition: 0.5s all;
}

.ui.items .item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-top: 20px solid white;
	border-right: 20px solid #d4d4d4;
}

.ui.items .item:hover {
	background: #d3d3d3;
}

.ui.items .item .content {
	padding-left: 10px;
}

.ui.items .item .content .header.item-category {
	font-size: 1.5rem;
	margin-top: -1rem;
    font-family: Lato-BoldItalic;
    letter-spacing: 4px;
}

.item .content .ui.divider {
	margin: 0px;
}

.ui.items .item .content .description {
	margin-top: 0px;
}

.ui.items .item .content .title {
	margin-top: 0px;
	font-size: 1.1rem;
	font-weight: bold;
}

.ui.items .item .floating-type-icon {
    position: absolute;
    top: -1rem;
	right: -2.5rem;
    font-size: 2.5rem;
    width: 100px;
    text-align: center;
}

.ui.sticky .expanded-post-window {
	background: #ebebeb;
    position: relative;
    padding: 24px;
    border-bottom: 5px solid #cdcdcd;
    transition: 0.5s all;
}

.ui.sticky .expanded-post-window:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-top: 40px solid white;
	border-right: 40px solid #d4d4d4;
}


/* FILTER BAR STYLES*/

form .category-input-button {
	height: 50px;
	width: 50px;
	background: blue;
}

input.category-input {
	display: none;
}